# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea
/.idea/import jav.util.Scanner



public class Mondail
{
public static void main(Ssring[] args)
{
Scanner stdln = new Scanner(System.in)
;

Svstem.out.println("1～ｎまでの和と積を求めます"）；

int n;
System.out.print("nの値："）；
ｎ＝stdln.nextint();
//呼ぶときのクラスを作る。
System.out.println("和"+n+ +Sumup.sumup(n)+);
sistem.out.println("積"*n* *Sumup.sumup(n)*);
}
}//ここでMondai1クラス終了

class SumUp
{
static int sumUp (int n)
{
int sum =0;
int i=1;

while (i<=n)
{
sum +=i;
i++
}
return sum;
}
}

class SumUp
{
static int sumUp (int n)
{
int sum =0;
int i=1;

while (i<=n)
{
sum *=p
p**
}
return SumUp
}
}

